// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

DEVELOPMENT_TEAM = XXXXXXXXXX

PRIVACY_POLICY_URL = https://AnalyticsHQ.com/privacy-policy
TERMS_URL = https://AnalyticsHQ.com/terms-and-conditions
HELP_URL = https://docs.AnalyticsHQ.com/edge-mobile
SUPPORT_EMAIL = support@AnalyticsHQ.com

MAC_APP_IDENTIFIER = com.analyticshq.AHQEdgeDesktop
MAC_EXT_IDENTIFIER = com.analyticshq.AHQEdgeDesktop.ptp

IOS_APP_IDENTIFIER = com.analyticshq.AHQEdgeMobile
IOS_EXT_IDENTIFIER = com.analyticshq.AHQEdgeMobile.ptp
IOS_SHARE_IDENTIFIER = com.analyticshq.AHQEdgeMobile.share

#include? "workspace-settings-overrides.xcconfig"
